body {

  background-image: url("../img/hairdry.jpg");
  background-size: 100%; 
  background-repeat: none;
}
.button:hover {
			background-color: #232d33;
		}

		.button:active {
			background-color: #0f1315;
		}

		.button.icon {
			padding-left: 1.35em;
		}
